body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    
    background-image: url("../images/background.jpg");
    
    background-repeat: repeat;
    background-position: center;
    background-size: auto;
    
}
.col-lg-3 {
    margin-top: 40px;
    
   }
   .col-lg-6 {
    margin-top: 10px;
    
   }
   .col-lg-12 {
    margin-bottom: 10px;